.card-container{
    display: block;

    margin: 20px 10px;

    height: 300px;
    width: 300px;

    background-color: #d2d2d2;


    text-align: center;
    justify-content: center;

    border-radius: 10px;

    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
}

.card-container img{

    border-radius: 5px;

    height: 200px;
    width: 200px;
    
    border: 5px solid white;
    border-radius: 4px;

    
    margin-top: 20px;
}

.card-container h1{
    font-size: 1.5em;
}