.card-container{
    display: flex;
    align-items: center;

    text-align: center;
    
    height: 40vh;
    width: 90vh;

    margin: 10px 10px;

    border-radius: 5px;

    background-color: rgb(19, 19, 19, 0.8);
    color: white;
}

.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 200px;
    margin: 20px;

    height: 100%;
    color: white;
}

.logo-container img{
    height: 150px;
    width: 150px;
    border: 2px solid white;
}

.logo-container h1{
    margin-top: 10px;
    font-size: 1.5em;
}

.stars-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding-top: 15px;
}
.stars-container img{
    height: 20px;
    width: 20px;
}

.stars-container h2{
    margin: 0;
    font-size: 1em;
}

.description-container{
    max-width: 40%;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.stars-container button{
    display: inline-block;
    padding: 15px 45px;

    margin: 15px;

    border: none;
    border-radius: 8px;

    font-size: 14px;
    line-height: 14px;
    font-weight: bold;

    outline: none;

    color: white;
    background: #ff104e;

    cursor: pointer;
}
.stars-container button:hover{
    transition: 0.2s;
    background-color: white;
    color: black;
}
.popup-button{
    display:none;
}

@media screen and (max-width: 769px) {
    .card-container{
        flex-direction: column;

        max-width: 250px;
        max-height: 250px;

        min-width: 250px;
        min-height: 250px;

        overflow: hidden;

        cursor: pointer;
    }
    .popup-button{
        background-color: none;
        position: absolute;
        display: block;
        max-width: 250px;
        max-height: 250px;

        min-width: 250px;
        min-height: 250px;
        z-index: 2;
    }
}


