.header-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    height: 70px;
    width: 100%;

    background-color: #212121;
}

.header-container span{
    color: white;

    font-weight: bold;
    font-size: 1.4em;

    cursor: pointer;
}

.header-container span:hover{
    transition: 0.5s;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    
    opacity:0.5;
}