.header-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    width: 100%;

    margin-bottom: 20px;

    background-color: #212121;

    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.header-container span{

    color: #ff104e;

    font-weight: bold;
    font-size: 1.4em;

    cursor: pointer;
}

.header-container span:hover{
    transition: 0.5s;
    opacity:0.5;
}