.starrating-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.stars{
    width: 30px;
    height: 30px;
    padding-top: 7px;
    padding-left: 3px;
  }

.stars:hover{
    cursor: pointer;
    opacity: 1;
}