.ranking-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.ranking-container h1{
   padding-left: 20px;
   margin-top: 15px;
   text-align: left;
}
.column-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}


@media screen and (max-width: 1280px) {
    .ranking-container{
        display: block;
        justify-content: center;
        align-items: center;
        flex-direction: row;

    }
    
}