.jumbutron-container{
    display: flex;

    width: 30vw;
    min-width: 380px;
    height: 22vh;

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    align-items: center;
    justify-content: space-evenly;

    border-radius: 5px;

    text-align: center;
    
    background-color: rgb(19, 19, 19, 0.8);
    color: white;
}

.jumbutron-container h2{
    margin: 0;
    font-size: 1.5em;
}

.jumbutron-container h2{
    max-width: 100px;
}



.jumbutron-container :nth-child(6){
    height: 10px;
    width: 10px;

    margin-top: 0;
}
.jumbutron-logo{
    height: 80px;
    width: 80px;
    
    border: 5px solid white;
}

@media screen and (max-width: 1280px) {
    .jumbutron-logo{
        height: 80px;
        width: 80px;
        
        border: 5px solid white;
    }

    .jumbutron-container :nth-child(6){
        height: 5px;
        width: 5px;
    
        margin-top: 0;
    }
    
}
