@font-face{
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}
*{
  font-family: 'RobotoMono', monospace;
}


body {
  margin: 0;
  
  background-color: rgba(0,0,0,0.44); 
}
h1{
   margin: 0;
}

h3{
  margin: 0;
}

