@font-face{
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}
*{
  font-family: 'RobotoMono', monospace;
}


body {
  margin: 0;
  
  background-color: #b0b0b0; 
}
h1{
   margin: 0;
}

h3{
  margin: 0;
}

